@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700;600;500;400;300;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;600;500;400;300;200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 1280px) {
  .benefit-header-desktop-bottom {
    display: none;
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .header {
    background: linear-gradient(
        357.36deg,
        #382459 35%,
        rgba(42, 15, 82, 0.863) 38.94%,
        rgba(64, 31, 117, 0.589) 110.68%
      ),
      url("../image/image\ 2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    margin-bottom: 68px;
  }
  .header-container {
    padding-right: 10vw;
    padding-top: 5vw;
    padding-left: 9.9vw;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49vw;
  }
  .nav-alqo-img img {
    width: 43vw;
    height: 8vw;
  }

  .nav-menyu-img img {
    width: 7.5vw;
    height: 6vw;
  }
  .header-student {
    font-family: Oswald;
    font-weight: 700;
    font-style: normal;
    font-size: 8.6vw;
    color: rgba(48, 255, 205, 1);
    width: 82vw;
    margin-bottom: 20px;
  }
  .header-about {
    color: white;
    font-size: 3.7vw;
    width: 83.7vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    margin-bottom: 22px;
  }
  .header-kurs-time {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 9vw;
  }
  .header-footer-img {
    display: flex;
    align-items: center;
    padding-bottom: 12vw;
  }
  .header-adnsu-img img {
    width: 26vw;
    margin-right: 47px;
  }
  .header-ministry-img img {
    width: 20vw;
  }
  .main {
    padding-left: 9.9vw;
  }
  .benefit-header-title p {
    color: rgba(56, 36, 89, 1);
    font-family: Oswald;
    font-size: 6.5vw;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-right: 9.9vw;
    margin-bottom: 14.6vw;
  }
  .rocket-img img {
    width: 16.2vw;
    margin-bottom: 8.2vw;
  }
  .benefit-content{
    color: rgba(56, 36, 89, 1);
    font-family: Montserrat;
  }
  .benefit-content-junior-content{
    margin-top: 2.4vw;
    margin-bottom: 14.5vw;
    font-size: 4vw;
    font-family: Montserrat;
    
    font-style: normal;
    font-weight: 500;
    line-height: 5vw;
    letter-spacing: 0em;
    width: 80vw;
  }
  .benefit-content-uni-content{
    font-family: Montserrat;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    line-height: 5vw;
    letter-spacing: 0em;
    width: 73vw;
  }
  .education-img img{
    width: 18.7vw;
  }
}
