@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700;600;500;400;300;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;600;500;400;300;200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (min-width:320px){
    .wrapper{
        display: flex;
        justify-content: center;
    }
   .header{
    background-image: url("../image/Group\ 7838.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    } 
    .header-container{
        padding-right: 10vw;
        padding-top: 10vw;
        padding-left: 9.9vw;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .nav-alqo-img img{
        width: 43vw;
    }
    
    .nav-menyu-img img{
        width: 7.5vw;
    }
    .header-student p{
        font-family: Oswald; 
        font-weight: 700;
        font-style: normal;
        font-size: 8.6vw;
        color: rgba(48, 255, 205, 1);
        width: 82vw;
    }
    .header-about p{
        color: white;
        font-size: 3.7vw;
        width: 83.7vw;
        font-weight: 400;
        font-family: Montserrat;
        color: #FFFFFF;
    }
}


