@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:1281px) {

    h1 {
        font-size: 4.5vw;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        color: #30FFCD;
    }

    h2 {
        font-family: Oswald;
        font-style: normal;
        font-weight: bold;
        font-size: 3.4vw;
        line-height: 113%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    h3 {
        font-size: 3.5vw;
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3vw;
        line-height: 145%;

        color: #FFFFFF;
    }


    /*              Tamelan section start         */
    .nav-menu-img {
        display: none;
    }

    .header-footer-img {
        display: none;
    }

    .header-ministry-img {
        display: none;
    }

    .benefit-header-mobil-botton {
        display: none;
    }

    .wrapper {
        display: flex;
        justify-content: center;
    }

    .header {
        background-image: url("../image/big_background_img.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding-top: 3vw;
        padding-left: 3.8vw;
        margin-bottom: 9.5vw;
    }

    .nav-img {
        display: flex;
        align-items: center;

    }

    .nav-img img {
        width: 11.7vw;

    }

    .nav-img div {
        margin-right: 2.6vw;
    }

    .nav-content {
        display: flex;
        align-items: center;
    }

    .nav-content .codeforfuture {
        font-family: Montserrat;
        font-size: 1.4vw;
        font-style: normal;
        font-weight: 800;
        line-height: 1.6vw;
        letter-spacing: 0.03em;
        text-align: left;
        color: white;

    }

    .tel {
        font-family: Montserrat;
        font-size: 1.4vw;
        font-style: normal;
        line-height: 1.6vw;
        letter-spacing: 0.03em;
        text-align: left;
        color: white;
        margin-right: 4vw;
        margin-left: 5vw;
    }

    .header-content {
        margin-left: 8.5vw;
    }

    .header-student h1 {
        width: 40vw;
        letter-spacing: 0.03em;
        margin-bottom: 2.2vw;
    }

    .header-about {
        font-family: Montserrat;
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.3vw;
        letter-spacing: 0em;
        color: white;
        width: 44vw;
        margin-bottom: 4vw;
    }

    .header-kurs-time {
        font-family: Montserrat;
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 600;
        line-height: 1.66vw;
        letter-spacing: 0.05em;
        color: white;
        padding-bottom: 14.8vw;
    }

    .header-kurs-time p {
        border-bottom: 2px dashed #FFE920;
        width: 19vw;
    }

    .benefit-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 9.1vw;
    }

    .benefit-header-title h2 {
        line-height: 4.16vw;
        letter-spacing: 0.03em;
        color: rgba(56, 36, 89, 1);
        padding-left: 8.5vw;
    }

    .benefit-header-desktop-botton button {
        background: #FF1DC0;
        border-radius: 48px;
        padding: 1.1vw 2.5vw;
        color: white;
        border: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.2vw;
        line-height: 1.5vw;
        margin-right: 9.3vw;
    }

    .benefit-content {
        display: flex;
        margin-top: 9.6vw;
        padding-left: 8.5vw;
        color: rgba(56, 36, 89, 1);
        font-family: Montserrat;
    }

    .benefit-content p {
        color: #382459;
    }

    .benefit-content-junior-header h3 {
        width: 21.6vw;
        margin-top: 2.8vw;
        font-size: 2.1vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.6vw;
        letter-spacing: 0em;
    }

    .benefit-content-uni-header h3 {
        width: 30.6vw;
        margin-top: 2vw;
        font-size: 2.1vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.6vw;
        letter-spacing: 0em;
    }

    .benefit-content-junior-content {
        margin-top: 2.4vw;
        margin-bottom: 14.5vw;
        font-size: 1.3vw;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 2vw;
        letter-spacing: 0em;
        width: 31vw;
    }

    .benefit-content-uni-content {
        margin-top: 1.9vw;
        margin-bottom: 14.5vw;
        font-size: 1.3vw;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 2vw;
        letter-spacing: 0em;
        width: 29vw;
    }

    .benefit-content-box-junior {
        margin-right: 8.2vw;
    }

    .rocket-img img {
        width: 6vw;
    }

    .education-img img {
        width: 6vw;
    }

    /*          Tamerlan section end        */

    /*                Fidan section start             */

    .vacancy {
        background-color: #382459;
        display: flex;
        flex-wrap: wrap;
        color: white;
        
    }

    .vacancy-content {
        display: flex;
        flex-wrap: wrap;
        margin-left: 8.5vw;
    }

    .box-1 {
        margin-right: 14vw;
        width: 28vw;
    }

    .box-2 {
        width: 27vw;
    }

    .box-3 {
        width: 36vw;
        margin-right: 6.2vw;
    }

    .box-4 {
        width: 34vw;
    }

    .vacancy-content-box h3 {
        color: #30FFCD;
        font-size: 2.8vw;
        margin-bottom: 1.6vw;
        margin-top: 6.9vw;
        font-family: oswald;

    }

    .vacancy-content-box p {
        font-size: 1.5vw;
        margin-bottom: 1.7vw;

    }

    .vacancy-content-box span {
        font-size: 1.2vw;
        margin-bottom: 3.2vw;
        opacity: 0.62;
        font-family: 'Montserrat';
    }    
    
    .vacancy-content img {
        position: relative;
        width: 8vw;
        left: 60vw;
        top: 1vw;
    }

    .course {
        margin-top: 8vw;
        color: #382459;
        margin-left: 8.5vw;
        margin-bottom: 11vw;
    }

    .course-content {
        display: flex;
        flex-direction: row;
        width: 90vw;
    }

    .course-content-box {
        margin-right: 5vw;
    }

    .cbox-1 {
        width: 26vw;
    }

    .cbox-1 h5 {
        width: 10vw;
    }

    .cbox-2 {
        width: 26vw;
    }

    .cbox-2 h5 {
        width: 25vw;
    }

    .cbox-3 {
        width: 25vw;
    }

    .cbox-3 h5 {
        width: 10vw;
    }

    .course-header {
        margin-bottom: 8vw;
    }

    .course-content h5 {
        font-size: 1.8vw;
        margin-bottom: 1.6vw;
        font-family: montserrat;
    }

    .course-content p {
        font-size: 1.5vw;
        font-family: montserrat;
        color: #382459;
    }

    /*                Fidan section end             */

    /*          Ali section start           */

    .cr-mobile {
        display: none;
    }

    .course-road-container {
        background: #2E1E49;
        display: flex;
    }

    .cr-first-title,
    .cr-second-title {
        padding-bottom: 6.3425vw;
        padding-top: 6.85vw;
    }

    .cr-first {
        margin-right: 6.6vw;
        padding-left: 8.5vw;
        width: 44vw;

    }

    .cr-first-title h2,
    .cr-second-title h2 {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 3.33vw;
        line-height: 120%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #30FFCD;

    }

    .cr-first-content {
        width: 36.33vw;
    }

    .cr-first-content ul li {
        list-style: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.33vw;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 2vw;
    }

    .cr-second-content {
        width: 28.6vw;
    }

    .cr-second-content ul li {
        list-style: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.33vw;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 2vw;
    }

    .cr-first-button button,
    .cr-second-button button {
        border: 2px solid #33DFC0;
        box-sizing: border-box;
        border-radius: 4vw;
        background-color: #2E1E49;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.33vw;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #30FFCD;

        width: 16vw;
        height: 4vw;

        margin-top: 6vw;
        margin-bottom: 8.88vw;
    }

    .condition {
        background-color: #E5E5E5;
    }

    .condition-container {
        height: 30vw;
        padding-left: 8.5vw;
        /* padding-bottom: 10vw; */
    }

    .condition-main-title {
        padding-top: 9.5vw;
        margin-bottom: 4.165vw;
    }

    .condition-main-title h2 {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 4vw;
        line-height: 106%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #382459;
    }

    .condition-main-content p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.33vw;
        line-height: 150%;
        color: #382459;
        width: 29vw;
        margin-right: 15vw;
    }

    .container-img img{
        position: relative;
        bottom: 32vw;
        left: 50vw;
        width: 40vw;
    }

    /*              Ali section end       */

    /*              Fuad section start    */

    .apply-container {
        position: relative;
        display: flex;
        background-color: #382459;
        padding-left: 8.5vw;
    }

    .apply-img img {
        width: 40vw;
    }

    .apply-main {
        width: 38vw;
        padding-top: 11vw;
        margin-left: -6vw;
    }

    .apply-main-content h2 {
        padding-right: 8vw;
        margin-bottom: 2vw;
        color: #30FFCD;
    }

    .apply-main-content p {
        margin-bottom: 3vw;
    }

    .apply-main-content button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1vw;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 1vw 2vw;
        background: #FF1DC0;
        border-radius: 3.5vw;
        color: white;
    }

    .footer {
        margin-bottom: 6.2vw;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        padding-top: 6.5vw;
    }

    .footer-logo img {
        margin-bottom: 3.5vw;
        width: 14vw;
    }

    .social img {
        width: 2vw;
    }

    .contact {
        margin-bottom: 3.5vw;
    }

    .contact p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: 145%;

        color: #382459;
    }

    .comment p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        line-height: 145%;

        color: #382459;
    }

    .sponsor-first {
        margin-bottom: 1.8vw;
        padding-left: 1.6vw;
    }

    .sponsor-first img {
        width: 7vw;
    }

    .sponsor-second img {
        width: 10vw;
    }
}